<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLUB EXCEL WORKSHOP</title>
    <style>

        h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:SlateBlue;
  text-align: center; 
  text-decoration: underline
}

table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:; 
  background-color: SlateBlue; 
  border-collapse: collapse;   
  width:50%;
  border-radius: 3em;
}
table.inner{
  border: 0px
}

#submit,#reset{
  background-color: rgb(6, 109, 75);
  padding: 0.33em 0.5em 0.33em 0.5em;
  border-radius: 0.5em;
  color: aliceblue;
}

#submit:hover,#reset:hover{
  background-color: red;
}
    </style>
</head>
<body>
  {{>navbar}}
<html>
<head>
<title>Student Registration Form</title>

</head>
 
<form action="/register" method="POST">


 
<table align="center" cellpadding = "10">
 
<!----- First Name ---------------------------------------------------------->
<tr>
<td> NAME</td>
<td><input type="text" name="Name" maxlength="30" required/>

</td>
</tr>
 


<!----- Email Id ---------------------------------------------------------->
<tr>
<td>EMAIL ID</td>
<td><input type="email" name="Email_Id" maxlength="100" required /></td>
</tr>
 
<!----- Mobile Number ---------------------------------------------------------->
<tr>
<td>MOBILE NUMBER</td>
<td>
<input type="text" name="Mobile_Number" maxlength="10" minlength="10" required />

</td>
</tr>
 
<!----- Gender ----------------------------------------------------------->
<tr>
<td>GENDER</td>
<td>
Male <input type="radio" name="Gender" value="Male" required />
Female <input type="radio" name="Gender" value="Female" required/>
</td>
</tr>

 
<!----- Batch ---------------------------------------------------------->
<tr>
<td>Batch</td>
<td>
2022<input type="radio" name="Batch" value="2022" required/><br/>
2021 <input type="radio" name="Batch" value="2021" required/><br/>
2020 <input type="radio" name="Batch" value="2021" required /><br/>
</td>
</tr>
<!----- Branch ---------------------------------------------------------->
<tr>
<td>Branch</td>
<td>
CSE<input type="radio" name="Branch" value="CSE" required /><br/>
IT<input type="radio" name="Branch" value="IT" required /><br/>
ECE<input type="radio" name="Branch" value="ECE" required /><br/>
EE<input type="radio" name="Branch" value="EE" required /><br/>
CIVIL<input type="radio" name="Branch" value="CIVIL" required /><br/>
MECHANICAL<input type="radio" name="Branch" value="MECHANICAL" required/><br/>
BSC<input type="radio" name="Branch" value="BSC" required /><br/>
BCA<input type="radio" name="Branch" value="BCA" required/><br/>
MBA<input type="radio" name="Branch" value="MBA" required/><br/>
OTHERS<input type="radio" name="Branch" value="OTHERS" required /><br/>
</td>
</tr>


<tr>
<td>LOCALLITE</td>
<td>
YES<input type="radio" name="Locallite" value="yes" required />
NO <input type="radio" name="Locallite" value="no" required/>
</td>
</tr>

    <tr>
<td>BUS STAND</td>
<td><input type="text" name="BusStand" maxlength="30" required/>

</td>
</tr>
 
<!----- Submit and Reset ------------------------------------------------->
<tr>
<td colspan="2" align="center">
<input id="submit" type="submit" value="Submit">
<input id="reset" type="reset" value="Reset">
</td>
</tr>
</table> 
</form>
 
</body>
</html>
</body>
</html>
